:root {
  --primary-color: #5f89c8;
  --secondary-color: #81b0f8;
}

.container {
  width: 400px;
  display: block;
  margin: 10px auto;
  background-color: var(--primary-color);
  border-radius: 15px;
  text-align: center;
  padding-bottom: 20px;
}

.search-bar {
  text-align: center;
}

input {
  border-radius: 15px;
  font-family: 'Bai Jamjuree';
  font-weight: 700;
  letter-spacing: 40;
  border: 0;
  color: var(--secondary-color);
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  padding: 5px;
}

input[type='submit'] {
  background-color: white;
  border: none;
  text-decoration: none;
  cursor: pointer;
  width: 10;
}

#circle-sun {
  font-size: 90px;

  padding: 0;
  color: #f7ee1c;
}

h2,
h1 {
  font-family: 'Bebas Neue';
  color: white;
}

h3,
h4 {
  font-family: 'Bai Jamjuree';
  font-weight: 400;
  color: white;
  font-size: 15px;
}

h1 {
  font-size: 120px;
}

h2 {
  margin-top: 8%;
}

.flex-container {
  display: flex;
  background-color: var(--secondary-color);
  margin: 40px 15px 10px 15px;
  border-radius: 15px;
  padding: 20px;
}

.flex-child {
  flex: 1;
}

.flex-child:first-child {
  margin-right: 10px;
}
